*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.moviesContainer {
  padding: 48px 0;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: start;
}

.margin-top {
  margin-top: 80px;
}
